.header-nav{
    background-color: rgb(48, 48, 48);
    color: #fff;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    li{
        cursor: pointer;
        padding: 0 5rem;
    }
}