.todo-container{
    padding: 0 5rem;
}

.todos-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    list-style: none;
    padding: 0;
    font-size: 1.5rem;
}

